body{
    background: #FFF;
    width: 100%;
    margin: 0 auto;
   
}


.myimg{
    display: flex;
    position: absolute;
    width: 230px;
    height: 300px;
    flex-shrink: 0;
    margin-top: 13.5%;
    margin-left: 17.5%;
}


.myimg2{
  display: flex;
  position: absolute;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  margin-top: 65.5%;
  right: 15%;
} 

.myimg3{
  display: flex;
  position: absolute;
  width: 450px;
  height: 300px;
  flex-shrink: 0;
  margin-top: 111.75%;
  left: 11.75%;
  border: 4px solid #000;
} 

.myimg4{
  display: flex;
  position: absolute;
  width: 450px;
  height: 300px;
  flex-shrink: 0;
  margin-top: 144.75%;
  right: 10.75%;
  border: 4px solid #000;
}
h1{
    color: #000000;
    font-family: Excon;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2{
    color: #000000;
    font-family: Excon;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3{
    color: #000;
    font-family: Excon;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-align: center;
}
#rect1{
    width: 266.437px;
    height: 332.714px;
    flex-shrink: 0;
  
}

#rect2{
    background: #000;
    width:100px; 
    height: 41px;
}

#rect3{
    border: 2px solid #000;
    background: #33BBC5;
    width:100px; 
    height: 41px;
}

#navbar {
    /* overflow: hidden; */
    background-color: #f2efef;
    width: 100%;
    height: 14%;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f2f2f2;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  .fixed-nav-bar { 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999; 
    width: 100%; 
    height: 90px; 
    background-color: #ffffff; }

/* projects */

#prec1{
  width: 470px;
  height: 320px;
  display: flex; 
  position: absolute;
  flex-shrink: 0;
  border: 5px solid #000;
  background: #8753BA;
  /* left: 104px;
  top: 160%; */
  left: 11%; margin-top: 111%;
}

#prec2{
  background: #000;
  width: 470px;
  height: 320px;
  display: flex; 
  position: absolute;
  flex-shrink: 0;
  left: 12%; margin-top: 112%;
}

#prec3{
  width: 470px;
  height: 320px;
  display: flex; 
  position: absolute;
  flex-shrink: 0;
  border: 5px solid #000;
  background: #8753BA;
  /* left: 104px;
  top: 160%; */
  right: 10%; margin-top: 144%;
}

#prec4{
  background: #000;
  width: 470px;
  height: 320px;
  display: flex; 
  position: absolute;
  flex-shrink: 0;
  right: 9.5%; margin-top: 145%;
}










#footerbox{
  display: flex;
  position: absolute;
  margin: 0px;
  background-color: coral;
  height: 500px;
  width:100%;
  
  top: 380%;
}





/* footer */
