body{
    background: #FFF;
    width: 100%;
    margin: 0 auto;
   
}

html {
  scroll-behavior: smooth;
}
a, .btn{
  transition: all 300ms ease;
}

.myimg{
    display: flex;
    position: absolute;
    width: 230px;
    height: 300px;
    flex-shrink: 0;
    margin-top: 9.25%;
    margin-left: 17.75%;
    border: 4px solid #000;
}


.myimg2{
  display: flex;
  position: absolute;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  margin-top: 57.5%;
  right: 15.1%;
  border: 4px solid #000;
} 

.myimg3{
  display: flex;
  position: absolute;
  width: 32.5%;
  height: 45.5%;
  flex-shrink: 0;
  margin-top: 111.75%;
  left: 12.25%;
  border: 4px solid #000;
} 

.myimg4{
  display: flex;
  position: absolute;
  width: 450px;
  height: 300px;
  flex-shrink: 0;
  margin-top: 144.75%;
  right: 10.75%;
  border: 4px solid #000;
}

.myimg5{
  display: flex;
  position: absolute;
  width: 500px;
  height: 300px;
  flex-shrink: 0;
  margin-top: 176.75%;
  left: 10.75%;
  border: 4px solid #000;
}

h1{
    color: #000000;
    font-family: Excon;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2{
    color: #000000;
    font-family: Excon;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3{
    color: #000;
    font-family: Excon;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-align: center;
}
h4{
  color: #000;
  font-family: Excon;
  font-size: 12px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: center;
}
#rect1{
    width: 266.437px;
    height: 332.714px;
    flex-shrink: 0;
  
}

#rect2{
    background: #000;
    width:100px; 
    height: 41px;
}

#rect3{
    border: 2px solid #000;
    background: #33BBC5;
    width:100px; 
    height: 41px;
}

#navbar {
    /* overflow: hidden; */
    background-color: #f2efef;
    width: 100%;
    height: 14%;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f2f2f2;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  .fixed-nav-bar { 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999; 
    width: 100%; 
    height: 90px; 
    background-color: #ffffff; }


/* Dektop Navigation */

nav, .nav-links {
  display: flex;
  font-family: Excon;
  font-style: normal;
  line-height: normal;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.logo{
  font-size: 2rem;

}

.logo:hover{
  cursor: default;
}
.nav-links{
  gap: 2rem;
  list-style: none;
  font-size: 1.25rem;
}

a{
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover{
  color: #8753BA;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 25px;
  cursor: pointer;
}

.hamburger-icon span{
  width: 100%; /* container */
  height: 3px;
  background-color: #000;
  transition: all 0.3 ease-in-out;
  gap: 5px;
}

.menu-links {
  position: absolute;
  top: 100%;
  right:0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li{
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px,5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px,-5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:nth-child(2) {
  opacity: 1;
}

.hamburger-icon span:last-child {
  transform: none;
}
/* projects */

#prec1{
  width: 470px;
  height: 320px;
  display: flex; 
  position: absolute;
  flex-shrink: 0;
  border: 5px solid #000;
  background: #8753BA;
  /* left: 104px;
  top: 160%; */
  left: 11.5%; margin-top: 111%;
}

#prec2{
  background: #000;
  width: 470px;
  height: 320px;
  display: flex; 
  position: absolute;
  flex-shrink: 0;
  left: 12.5%; margin-top: 112%;
}

#prec3{
  width: 470px;
  height: 320px;
  display: flex; 
  position: absolute;
  flex-shrink: 0;
  border: 5px solid #000;
  background: #8753BA;
  /* left: 104px;
  top: 160%; */
  right: 10%; margin-top: 144%;
}

#prec4{
  background: #000;
  width: 470px;
  height: 320px;
  display: flex; 
  position: absolute;
  flex-shrink: 0;
  right: 9.5%; margin-top: 145%;
}

#prec5{
  width: 520px;
  height: 320px;
  display: flex; 
  position: absolute;
  flex-shrink: 0;
  border: 5px solid #000;
  background: #8753BA;
  /* left: 104px;
  top: 160%; */
  left: 10%; margin-top: 176%;
}

#prec6{
  background: #000;
  width: 520px;
  height: 320px;
  display: flex; 
  position: absolute;
  flex-shrink: 0;
  left: 11%; margin-top: 177%;
}








#footerbox{
  display: flex;
  position: absolute;
  margin: 0px;
  background-color: coral;
  height: 500px;
  width:100%;
  
  top: 480%;
}





/* footer */

.container{
  max-width: 1170px;
  margin:290px;
  
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 90%;
   padding: 0 15px;
   margin-left:120%;
   margin-top: 20%;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*//* 
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
} */
