body{
    background: #FFF;
   
}


.myimg{
    display: flex;
    position: absolute;
    width: 20%;
    height: 25%;
    flex-shrink: 0;
    border-radius: 56px;
    margin-top: 13%;
    margin-left: 15%;
}

h1{
    color: #000000;
    font-family: Excon;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2{
    color: #000000;
    font-family: Excon;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3{
    color: #000;
    font-family: Excon;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
#rect1{
    width: 266.437px;
    height: 332.714px;
    flex-shrink: 0;
}

#rect2{
    background: #000;
    width:100px; 
    height: 41px;
}

#rect3{
    border: 2px solid #000;
    background: #33BBC5;
    width:100px; 
    height: 41px;
}

#navbar {
    overflow: hidden;
    background-color: #f2efef;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

